@model DespachosViewModel

<div id="consolidado" class="card card  card-default scrollspy border-radius-6 fixed-width">
    <div class="card-content custom-cotent-dataTable">
        <div class="datatable-search">
            <i class="material-icons mr-2 search-icon">search</i>
            <input type="text" placeholder="Buscar" class="app-filter" id="filtro_consolidado">
        </div>
        <table id="data-table-despacho-consolidado" class="display custom-datatable" style="width:100%; white-space:nowrap">
            <thead>
                <tr>
                    @foreach (var cabecera in Model.EncabezadosConsolidado)
                    {
                        <th>@cabecera</th>
                    }
                    
                </tr>
            </thead>
            <tbody>
                @foreach (var Despacho in Model.DespachosConsolidados)
                    {
                <tr id="@Despacho.Id_Producto" data-idProducto="@Despacho.Id_Producto">
                    <td class="despacho-consolidated" data-idProducto="@Despacho.Id_Producto">@Despacho.Id_Producto</td>
                    <td class="despacho-consolidated" data-idProducto="@Despacho.Id_Producto">@Despacho.Producto</td>
                    <td class="despacho-consolidated" data-idProducto="@Despacho.Id_Producto">@Despacho.Volumen_Cargado.ToString("N2")</td>
                    <td class="despacho-consolidated" data-idProducto="@Despacho.Id_Producto">@Despacho.Volumen_Ordenado.ToString("N2")</td>
                    <td class="despacho-consolidated" data-idProducto="@Despacho.Id_Producto">@Despacho.Diferencia</td>
                </tr>
                    }
            </tbody>
        </table>
    </div>
</div>

