@model ListViewModel<TContador>

<div id="button-trigger" class="card small-card card-default scrollspy border-radius-6 fixed-width">
    <div class="card-content">
        <table id="data-table-contador" class="display" style="width:100%; white-space:nowrap" data-turbolinks="false">
            <thead>
                <tr>
                    @foreach (var cabecera in Model.Encabezados)
                    {
                        <th>@cabecera</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var Contador in Model.Entidades)
                {
                    <tr id="@Contador.IdContador">
                        <td>@Contador.IdContador</td>
                        @*<td><span class="bullet @Contador.TipoColor"></span>@Contador.Tipo</td>*@
                        <td>
                            @*<a class="cursor-point" data-turbolinks="false">
                                    <i class="material-icons contador-action contador-edit" data-contadorid="@Contador.Contador">edit</i>
                                </a>*@
                            <a class="cursor-point" data-turbolinks="false">
                                <i class="material-icons contador-action contador-delete @(@Model.ActionsPermission.Borrar ? "" : "disable-action")" data-contadorid="@Contador.IdContador">delete</i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

