@model TerminalCompletaViewModel
<!-- BEGIN: Campo busqueda y Tabla-->

<div id="button-trigger" class="card card card-default scrollspy border-radius-6 fixed-width">
    <div class="card-content">
        <table id="data-table-Compañias" class="display" style="width:100%; white-space:nowrap">
            <thead>
                <tr>
                    @foreach (var cabecera in Model.EncabezadosCompañias)
                    {
                        <th>@cabecera</th>
                    }
                </tr>
            </thead>
            <tbody>
                

                @foreach (var Log in Model.Compañias)
                {

                    <tr id="@Log.IdCompañia">
                        <td>@Log.IdCompañia</td>
                        <td>@Log.Nombre</td>
                        <td>@Log.CodigoSicom</td>
                        <td>@Log.Division</td>
                        <td>@Log.SalesOrganization</td>
                        <td>@Log.DistributionChannel</td>
                        <td>@Log.UltimaEdicion</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

